@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
html, body {
  height: 100%;
  width: 100%;
  background: #e5c9f8;
  font-family: 'Handlee', cursive;
  display: table;
}
h1{
  text-align: center;
  }
input {
  padding:.5rem;
  border-radius:.3rem;
  width:50%;
}
label{
  display:block;
  font-weight: bold;
}
button{
  margin-top:.7rem;
  font-family: 'Handlee', cursive;
  border-radius:.3rem;
  text-align: center;
  display:block;
  font-weight: bold;
}
#output-box {
  padding: 1rem;
  width: 50%;
}
footer {
  background-color:#efe6f4 ;
  display: table-row;
  height: 0%;
  
}